h1 {
    text-align: center;
}

.add h3, h5 {
    /* margin: 10px; */
}

.btn {
    margin-top: 20px;
}

.datePicker {
    margin-left: 20px;
}

input {
    
}

#taskBtn {
    margin-left: 35%;
    width: 45%;
}