@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

#indexBody {
   background-color: #1F2833;
   color: #C5C6C7;
   font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 120px;
    text-align: center;
    color: #66FCF1;
    font-family: "lato-bold", lato, sans, sans-serif;
    font-size: 4rem;
}

#indexBody h3 {
    margin-bottom: 20px;
}

#indexBody h5 {

}

.add input, .add textarea {
    background-color: #1F2833;
    color: #C5C6C7;
}

.add ::placeholder {
    color: #C5C6C7;
}

.add .btn {
    margin-top: 20px;
}

#datePicker, #dueDate {
    margin-left: 80px;
}

#taskBtn {
    margin-left: 35%;
    width: 45%;
}

.tasks .list-group{
    background-color: #1F2833;
}

.labels h5 {
    margin-left: 0;
}

hr {
    /* border: hidden; */
    width: 70%;
    margin: 80px auto;
    
}

.hrbottom {
    border: hidden;
}

footer *, .card-header, .card-footer {
    background-color: #1F2833;
    color: #C5C6C7;
}

footer .card-title {
    color: #C5C6C7;
}